# React environment variables must start with REACT_APP_

# The base URL for your backend API
# This is useful if you are not using the "proxy" in package.json
REACT_APP_API_URL=http://localhost:5000
